name: Docker Image CI

on:
  push:
    branches: [ ft/task3 ]
  # Uncomment the following lines if you want to run the workflow on pull requests to the main branch and tag pushes
  # pull_request:
  #   branches: [ main ]
  # tags:
  #   - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        working-directory: ./toyeglobal-app

      - name: Run tests
        run: npm test
        working-directory: ./toyeglobal-app

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./toyeglobal-app
          file: ./toyeglobal-app/Dockerfile
          push: true
          tags: damola12345/toyeglobal-app:latest
          platforms: linux/amd64

      - name: Docker Scout
        uses: docker/scout-action@v1
        with:
          command: cves,recommendations,quickview
          only-severities: critical,high

  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up AWS CLI
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: us-east-1

    - name: Login to DockerHub
      uses: docker/login-action@v2 
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set permissions for deploy.sh
      run: chmod +x ./toyeglobal-app/deploy.sh  

    - uses: actions/checkout@v2
    - name: Deploy to Cluster
      working-directory: ./toyeglobal-app
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKERHUB_REPO: damola12345
        APP_NAME: toyeglobal
        KUBECONFIG: ${{ secrets.KUBECONFIG }}
        BRANCH: "ft/task3"
        ENVIRONMENT: prod

      run: ./deploy.sh

