name: k8s-deploy
on:
  push:
    branches: 
      - master

jobs:
  cluster_deploy:
    # if: ${{ github.event.inputs.deploy_confirmation == 'yes' && github.ref == 'refs/heads/production' }}.
    runs-on: ubuntu-latest
    steps:     
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-1

      - name: Login to DockerHub
        uses: docker/login-action@v2 
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: actions/checkout@v2
      - name: Deploy to Cluster
        env: 
          DOCKER_USER: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
          DOCKERHUB_REPO: damola12345
          APP_NAME: toyeglobal
          KUBECONFIG: ${{ secrets.KUBECONFIG}}

          BRANCH: "master"
          ENVIRONMENT: prod

        run: | 
           /bin/bash deploy.sh  
           